# Logs
logs
logs/
logs/*
logs/**
logs/**/*

# Project Management
project.md

# Build output
target
target/
target/*
target/**
target/**/*

# Testing
TESTING!!!
TESTING!!!/
TESTING!!!/*
TESTING!!!/**
TESTING!!!/**/*

# Config
config
config/
config/*
config/**
config/**/*